.footer{
    text-align: center;
}
.left{
    float:left;
    width: 50%;
}
.right{
    height: 50%;
}
.bottom{
    text-align: center;
    color: gray;
}
.leftright{
    margin-bottom: 25px;
}