.id{
    color: green;
    font-size: 10px;
}
.title{
    font-size: 20px;
    float:left;
}
.date{
    text-align: right;
}
.content{
    clear: both;
}

body{
    background-color: gray;
}

.post{
    margin-bottom: 35px;
}